.logo {
   width: 80px;
   height: 80px;
   border-radius: 0 0 0 50px;
   box-shadow: 2px 3px 8px 1px beige;
}
.name{
    font-size: 33px;
    font-family: 'Texturina', serif;
}
.header {
    grid-area: h;
    background-image: url(https://i.pinimg.com/736x/d1/29/87/d1298786995ff9aae6d7d46ba6d944bd.jpg);
    display: inline-block;
    width: 1000px;
    height: 80px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 0 0 40px 40px;
}

.loginPhrase {
    float: right;
}

.userLogin{
    font-family: var(--main-for-users);
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
}
.logIn{
    box-sizing: border-box;
    margin: 20px;
    padding: 8px;
   
    
}
.logIn a{ 
    color: azure;
     text-decoration: none;
    
}

