@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


:root {
    --main-bg-color: whitesmoke;
    --main-color2:rgb(236, 160, 109);
    /* --main-text-font:; */
    --main-name:'Texturina', serif;
    --main-for-users:'Dancing Script', cursive;
}

body {
    background: #000000;
}

.app-wrapper {
    display: grid;
    width: 1000px;
    margin: 20px auto;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 3fr 9fr;
}

.app-wrapper-content {
    grid-area: c;
    box-shadow: 5px 5px 9px 2px beige;
    background-image: url(https://i.pinimg.com/736x/d1/29/87/d1298786995ff9aae6d7d46ba6d944bd.jpg);
    margin: 20px 0 0 0;
    padding: 20px;
    height: 100%;

}