.description {
    margin: 30px 0 30px 0;
    position: relative;
}
.contacts{
    color: white;
}
.fullname{
    font-size: 50px;
}

.colWithFullName{
    float: left;
    padding-left: 7%;

}

.socialIcon{
    width: 70px;
    height: 70px;
}

.avatarFullNameStatus{
    margin: 30px;
    clear: both;
    white-space: nowrap;
    
}
.aboutMe{
    font-size: 25px ;
    div{
        
    }
    .aboutMeContent{
        
    }
}


.avatarImage{
    float: right;
    width: 150px;
    cursor: pointer;
}

.links{
    text-align: center;
}

.editData{
    border: 2px dashed darksalmon;
    text-align: center;
    padding: 20px;
}