.description {
   
    margin: 30px 0 30px 0;
}
.contacts{
    color: white;
}

.socialIcon{
width: 70px;
height: 70px;
}

.contacts{
    text-align: right;
}

.editData{
    border: 2px dashed darksalmon;
    text-align: center;
    padding: 20px;
}