.error textarea,
.error input {
    border: 5px solid red;
}

.messageError {
    color: crimson;
    font-style: italic;
}

.commonError {
    color: red;
    border: 2px solid red;
    font-style: italic;
    text-align: center;
}